.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: calc(100vh - (64px + 56px));
  overflow-y: auto;

  @media screen and (min-width: calc(1600px + 1px)) {
    padding-left: 160px;
  }
}

.containerWrapper {
.containerWrapper {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 996px;
  padding: 24px;
  background-color: var(--neutral-0);
  transition-duration: var(--transition-duration);
}

.title {
  margin-right: auto;
  margin-bottom: -5px;
  color: var(--neutral-800);
  font: var(--typography-h1);
  transition-duration: var(--transition-duration);
}
