@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --container-width: 1280px;
    --container-padding: 15px;
    --padding-container: 32px 80px;
    --padding-block32 : 32px;
    

    --text-white:rgb(245, 244, 244);
    --secondary:rgb(15, 31, 28, 0.5);
    --grey: rgb(112, 112, 112);
    --grey-opacity:rgba(112, 112, 112, 0.1);
    --bg-grey-opacity:rgba(245, 244, 244, 0.4);
    --input-search-black:rgba(32, 32, 32, 1);
    --black-32:rgba(32, 32, 32);
    --grey-52:rgb(57, 57, 57);

    --font-Raleway:"Raleway", sans-serif ; 
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/* убираем крестик в input */

body{
    font-family:var(--font-Raleway);
    color: var(--text-white);
    background: url(/public/bg.jpeg) no-repeat center ;
    background-size: cover;
    background-attachment: fixed; /*при скролле фон фиксирован */
    min-height: 100vh;
}
.none{
    display: none;
}
/* общие классы */
.family-base{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;  
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* общие классы */

.container{
    min-width: var(--container-width);
    padding: var(--padding-container);
    min-height:  100vh;
}

.weatherApp-content{
    max-width: 1120px;
    margin: 0 auto;
    border-radius: 8px;
    backdrop-filter: blur(50px);
    background-color: var(--grey-opacity);
    padding: 32px 32px 0 32px; /*270px по макету под свободное место */
}


.header__form{
    width: 506px;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: var(--bg-grey-opacity);
    column-gap: 19px;
    &:hover{
        background-color: rgba(218, 218, 218, 1);
    }
}
.header__form-search{
    color: var(--input-search-black);
    width: 100%;
}
.header__form-search::placeholder{
    color: var(--grey);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
 
}
.header__form-button{
    width: 24px;
    height: 24px;
}

.button-dagger{
    fill: blue;
}
/* WEATHER */
.weaher__content{
    column-gap: 16px;
    margin-top: 64px;

    font-variant-numeric: lining-nums /*выравнивание*/
}
.weather__left-column{
    width: 100%;
    flex-direction: column;
    row-gap: 64px;
    
}
.weather__card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
}

.weather__item{
    width: 158px;
    height: 196px;  
    padding: 16px;
    border-radius: 8px;
    background-color: var(--bg-grey-opacity);
}

/* weather__cityDetails */
.weather__cityDetails{
    flex-direction: column;
    row-gap: 9px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
}
.weather__temperature{
    font-size: 112px;
    font-weight: 700;
    line-height: 112px;
}
.weather__fells{
    flex-direction: column;
    row-gap: 8px;
    text-align: center;
}
.weather__type{
    justify-content: center;
    column-gap: 8px;
}
.slider{
    height: 192px;
}
.footer{
    height: 84px;
}

/* карточки */


.weather__item-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}
.weather__item-title{
    color: var(--black-32);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}
.weather__item-value{
    color: var(--black-32);
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
}

.range-borders{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.range-borders__item{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--grey-52);
}

/* range */

.weather__item-range {
    -webkit-appearance: none;
    accent-color: var(--text-white);

    height: 8px;
    background: rgba(218, 218, 218, 0.4);
    border-radius: 5px;
    background-size: 70% 100%;
    background-repeat: no-repeat;

}
.weather__item-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--text-white);
    border-radius: 50%;
    cursor: pointer;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(218, 218, 218, 0.4);

}
.weather__status{
    display: block;
    text-align: center;
    color: var(--grey-52);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 8px;
}
.weather__item-comment{
    display: inline-block;
    color: var(--grey-52);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
  