.weaher__content{
    column-gap: 16px;
    margin-top: 64px;

    font-variant-numeric: lining-nums /*выравнивание*/
}
.weather__left-column{
    width: 100%;
    flex-direction: column;
    row-gap: 64px;
    
}
.weather__card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
}

.weather__item{
    width: 158px;
    height: 196px;  
    padding: 16px;
    border-radius: 8px;
    background-color: var(--bg-grey-opacity);
}

/* weather__cityDetails */
.weather__cityDetails{
    flex-direction: column;
    row-gap: 9px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
}
.weather__temperature{
    font-size: 112px;
    font-weight: 700;
    line-height: 112px;
}
.weather__fells{
    flex-direction: column;
    row-gap: 8px;
    text-align: center;
}
.weather__type{
    justify-content: center;
    column-gap: 8px;
}
