.taskList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  flex-grow: 1;
}

.emptyState {
  color: var(--neutral-light-700);
  font: var(--typography-subtitle1);
}

.taskItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0px 24px 24px 24px;
}

.taskHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.taskTitle {
  font: var(--typography-h2);
}

.taskDescription {
  color: var(--neutral-light-700);
  font: var(--typography-subtitle1);
}

.taskPicture {
  display: block;
  line-height: 0;
}
