.slider {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  box-sizing: border-box;
  width: 100%;
  padding: 32px;
}

.inner {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.sliderList {
  display: flex;
  column-gap: 16px;
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(90deg, #000 95%, transparent 100%);
}

.sliderCard {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  column-gap: 16px;
  min-width: 156px;
  border-radius: 8px;
  padding: 16px;
  color: var(--black-32);
  background-color: var(--bg-grey-opacity);
}

@media screen and (max-width: 887px) {
  .slider {
    row-gap: 24px;
    padding: 24px;
  }
}

@media screen and (max-width: 640px) {
  .slider {
    row-gap: 16px;
    padding: 16px;
  }
}
