.switchContainer {
  position: relative;
  display: inline-block;
  border-radius: var(--border-radius-md);
  padding: 4px;
  box-shadow: var(--shadow);
  background-color: var(--base-800);
  transition: outline-offset var(--transition-duration) ease;
  cursor: pointer;

  &:has(.input:focus-visible) {
    outline: 2px solid var(--base-white);
    outline-offset: 2px;
  }

  &:has(.input:focus-visible) .thumb {
    background-color: var(--base-white);
  }

  &:has(.input:hover) .thumb {
    background-color: var(--base-white);
  }

  &:has(.input:focus-visible) .active .icon {
    fill: var(--base-900);
  }

  &:has(.input:hover) .active .icon {
    fill: var(--base-900);
  }

}

.input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.track {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4px;
  border-radius: var(--border-radius-sm);
}

/* Тумблер без иконки */
.thumb {
  position: absolute;
  z-index: 1;
  width: 32px;
  height: 32px;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow);
  background-color: var(--primary-400);
  transition: background-color var(--transition-duration) ease,
    transform var(--transition-duration) ease;
}

.light {
  transform: translateX(0);
}

.dark {
  transform: translateX(36px);
}

/* Статичные контейнеры для иконок */
.iconContainer {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  transition: opacity var(--transition-duration) ease;
}

.active {
  opacity: 1;
}

/* Иконка */
.icon {
  fill: var(--base-white);
  transition: fill var(--transition-duration) ease;
}
