.switchButton {
  position: relative;
  display: inline-block;
  border-radius: var(--border-radius-md);
  padding: 4px;
  box-shadow: var(--shadow);
  background-color: var(--base-800);
  transition-duration: var(--transition-duration);
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid var(--base-white);
    outline-offset: 2px;
  }

  &:focus-visible .thumb {
    background-color: var(--base-white);
  }

  &:hover .thumb {
    background-color: var(--base-white);
  }

  &:focus-visible .active .icon {
    fill: var(--base-900);
  }

  &:hover .active .icon {
    fill: var(--base-900);
  }

}

.track {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4px;
  border-radius: var(--border-radius-sm);
}

/* Тумблер без иконки */
.thumb {
  position: absolute;
  z-index: 1;
  width: 32px;
  height: 32px;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow);
  background-color: var(--primary-400);
  transition-duration: var(--transition-duration);
}

.light {
  transform: translateX(0);
}

.dark {
  transform: translateX(36px);
}

.iconContainer {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  transition-duration: var(--transition-duration);
}

.active {
  opacity: 1;
}

.icon {
  fill: var(--base-white);
  transition-duration: var(--transition-duration);
}
