.statistic {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.statisticImage, path {
  transition: fill var(--transition-duration) ease;
}

.statisticText {
  color: var(--neutral-800);
  font: var(--typography-subtitle2);
  text-align: center;
  transition: color var(--transition-duration) ease;
}
