.content {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  min-width: var(--min-width);
  max-width: var(--max-width);
  width: 100%;
  overflow: hidden;
}
