.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-width: var(--min-width);
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--neutral-0);
  transition-duration: var(--transition-duration);
}
