.tabBar {
  display: flex;
  align-items: flex-end;
  column-gap: var(--padding-container);
  margin-top: 64px;
}

.tabBarTitle {
  color: var(--text-color);
  font-weight: 700;
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}

@media screen and (max-width: 887px) {
  .tabBar {
    column-gap: var(--padding-tablet);
  }
}

@media screen and (max-width: 640px) {
  .tabBar {
    column-gap: var(--padding-mobile);
  }
}
