.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: var(--min-width);
  margin: 0 auto;
  padding: 12px 24px 12px 16px;
  box-shadow: var(--header-shadow);
  background-color: var(--base-black);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
}

.buttonTitle {
  color: var(--base-white);
  font: var(--typography-button);
}
