.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  box-shadow: var(--shadow);
  background-color: var(--base-black);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: var(--min-width);
  margin: 0 auto;
  padding: 12px 24px 12px 16px;
}

.buttonIcon {
  width: 24px;
  height: 24px;
  fill: var(--neutral-light-0);
}

.buttonTitle {
  color: var(--neutral-light-0);
  font: var(--typography-button);
}
