.navbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  align-self: flex-start;
  min-width: 204px;
  height: calc(100vh - 64px);
  border-right: 1px solid var(--neutral-300);
  padding: 24px 16px;
  overflow-y: auto;
  background-color: var(--neutral-100);
  transition: background-color var(--transition-duration), border-right var(--transition-duration) ease;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  list-style: none;
}

.linkIcon {
  transition: fill var(--transition-duration) ease;
}

.buttonTitle {
  color: var(--neutral-0);
  font: var(--typography-button);
  transition: color var(--transition-duration) ease;
}
