@import url(./normalize.css);
@import url(./font.css);
@import url(./variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--neutral-light-800);
  font: var(--typography-subtitle1);
  background-color: var(--neutral-light-0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Класс для скрытия элементов визуально, но оставляя их доступными для скринридеров */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
