:root {
  /* Минимальная ширина */
  --min-width: 1280px;

  /* Базовые цвета */
  --base-white: #FFFFFF;
  --base-600: #6C6C6C;
  --base-800: #262626;
  --base-900: #141414;
  --base-black: #000000;


  /* Радиус границ */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;

  /* Переменные типографики */
  /* Размеры шрифтов */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 28px;
  --font-size-4xl: 32px;

  /* Высота строк */
  --line-height-xs: 16px;
  --line-height-sm: 20px;
  --line-height-md: 24px;
  --line-height-lg: 28px;
  --line-height-xl: 32px;
  --line-height-2xl: 36px;
  --line-height-3xl: 40px;

  /* Жирность шрифта */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Тень */
  --shadow: 2px 2px 4px 0 #00000080;
  --header-shadow: 2px 2px 4px 0 #00000033;
  --header-button-shadow-hover: 2px 8px 12px 0 #000000cc;
  --base-shadow: 2px 2px 4px 0 #00000033;
  --base-shadow-hover: 2px 8px 12px 0 #00000040;
  --sm-shadow: 2px 2px 4px 0 #0000001a;
  --sm-shadow-hover: 2px 8px 12px 0 #00000033;

  /* Градиенты */
  --base-primary-gradient: #D51010, #A60C0C;
  --primary-400-500: var(--primary-400), var(--primary-500);

  /* Время анимации */
  --transition-duration: 0.2s;
  --task-editor-open-delay: 0.4s;
  --loading-animation-delay: 0.6s;

  /* шрифт */
  --font-family-source-sans3: 'Source Sans 3', sans-serif;

  /* Стили типографики */
  --typography-h1: var(--font-weight-bold) var(--font-size-4xl)/var(--line-height-3xl) var(--font-family-source-sans3);
  --typography-h2: var(--font-weight-bold) var(--font-size-2xl)/var(--line-height-xl) var(--font-family-source-sans3);
  --typography-subtitle1: var(--font-weight-regular) var(--font-size-lg)/var(--line-height-md) var(--font-family-source-sans3);
  --typography-subtitle2: var(--font-weight-regular) var(--font-size-md)/var(--line-height-md) var(--font-family-source-sans3);
  --typography-button: var(--font-weight-semibold) var(--font-size-md)/var(--line-height-md) var(--font-family-source-sans3);
  --typography-text-label: var(--font-weight-bold) var(--font-size-lg)/var(--line-height-md) var(--font-family-source-sans3);
}

[data-theme="light"] {
  /* Нейтральные светлые цвета */
  --neutral-0: #FFFFFF;
  --neutral-100: #FBFBFB;
  --neutral-200: #F3F3F3;
  --neutral-300: #ECECEC;
  --neutral-400: #BFBFBF;
  --neutral-500: #8C8C8C;
  --neutral-600: #6C6C6C;
  --neutral-700: #393939;
  --neutral-800: #1C1C1C;
  --neutral-900: #141414;

  /* Вторичные светлые цвета */
  --secondary-0: #F5F0FF;
  --secondary-100: #EADFFF;
  --secondary-200: #D9C5FF;
  --secondary-300: #B792FF;
  --secondary-400: #742CFF;
  --secondary-500: #581BCC;

  /* Основные цвета */
  --primary-0: #FFF4F4;
  --primary-100: #FFCECE;
  --primary-200: #FCA9A9;
  --primary-300: #F25959;
  --primary-400: #D51010;
  --primary-500: #A60C0C;
  --primary-600: #760909;

  /* Тень */
  --base-shadow: 2px 2px 4px 0 #00000080;
  --base-shadow-hover: 2px 8px 12px 0 #000000cc;
  --sm-shadow: 2px 2px 4px 0 #0000004d;
  --sm-shadow-hover: 2px 8px 12px 0 var(--neutral-200);
}

[data-theme="dark"] {
  /* Нейтральные темные цвета */
  --neutral-0: #141414;
  --neutral-100: #1C1C1C;
  --neutral-200: #262626;
  --neutral-300: #333333;
  --neutral-400: #6C6C6C;
  --neutral-500: #8C8C8C;
  --neutral-600: #BFBFBF;
  --neutral-700: #ECECEC;
  --neutral-800: #FBFBFB;
  --neutral-900: #FFFFFF;

  /* Вторичные темные цвета */
  --secondary-0: #261C3C;
  --secondary-100: #441A96;
  --secondary-200: #5500F8;
  --secondary-300: #803EFF;
  --secondary-400: #9D6AFF;
  --secondary-500: #B792FF;

  /* Основные цвета */
  --primary-0: #300B0B;
  --primary-100: #461313;
  --primary-200: #760909;
  --primary-300: #A60C0C;
  --primary-400: #D51010;
  --primary-500: #F25959;
  --primary-600: #760909;

  /* Тень */
  --base-shadow: 2px 2px 4px 0 #00000080;
  --base-shadow-hover: 2px 8px 12px 0 #000000cc;
  --sm-shadow: 2px 2px 4px 0 #0000004d;
  --sm-shadow-hover: 2px 8px 12px 0 var(--neutral-200);
}
