.tabLabel {
  position: relative;
  display: flex;
  color: var(--inactive-tab-color);
  font-weight: 700;
  font-size: var(--card-font-size);
  line-height: var(--line-height);
  transition: var(--transition-delay);
  cursor: pointer;
}

.tabLabel::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -4px;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  border-bottom: 2px solid var(--inactive-tab-color);
  opacity: 0;
  transition: var(--transition-delay);
}

.tabLabel:hover::after {
  bottom: -2px;
  opacity: 1;
}

.isActive {
  position: relative;
  color: var(--text-color);
  transition: var(--transition-delay);
  cursor: default;
}

.isActive::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  border-bottom: 2px solid var(--text-color);
  opacity: 1;
  transition: all .5s ease;
}

.isActive:hover::after {
  border-bottom: 2px solid var(--text-color);
}

@media screen and (max-width: 640px) {
  .tabLabel::after {
    bottom: -2px;
  }

  .tabLabel:hover::after {
    bottom: -1px;
    border-bottom: 1px solid var(--inactive-tab-color);
  }

  .isActive::after {
    bottom: -1px;
    border-bottom: 1px solid var(--text-color);
  }

  .isActive:hover::after {
    border-bottom: 1px solid var(--text-color);
  }
}
